{%extends "django_registration/base.html"%}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 text-center" id="form" style="color:goldenrod;
    font-family: serif;margin-top: 20px;background: transparent" >
        <h2 style="border-bottom:6px solid #29d431;margin-bottom: 10px;padding: 10px;" class="text-center">| LOG IN |</h2><br>
        <form action="/accounts/login/" method="POST" style="color:#b10a0a;" class="login-box" novalidate>
            {% csrf_token %}
            {{ form|crispy }}

            <div class="form-group">
                <input type="submit" class="btn btn-outline-info btn-rounded waves-effect text-center" value="| Log In |"
                    style="text-align:center;">
            </div>
            <input type="hidden" name="next" value="/">
        </form>
        <div class="panel panel-default text-center">
            <hr>
            <h6 class="text-center  white-text text-muted">Don't have an account?</h6>
            <a href="/accounts/register/" class="btn btn-outline-success btn-md text-center sm">Sign Up Here </a>

        </div>
    </div>
    <div class="col-md-4"></div>
</div>
</div>
</div>




{% endblock %}