{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Awards Clone Mini</title>
        <link rel="stylesheet" href="{% static 'css/layout.css' %}">
        <link rel="stylesheet" href="{% static 'css/indexx.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
                rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/css/mdb.min.css" rel="stylesheet"><br />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
                integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
                crossorigin="anonymous">
                <script src="{% static 'js/layout.js' %}"></script> 
</head>
<style>
.rates{
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50,-50);
    background:rgb(75, 70, 70);
  
  }
</style>

<body>
    {% include 'navbar.html' %}<br><br>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="row top-section">
                <div class="profile-image">

                    <img src="{{profile_details.profile_photo.url}}" alt="profile-photo" width="150" height="150" style="margin-top:10px;"><br><br>


                    <h4 class=" text-center" style="font: italic;"><strong>{{ profile.username }}</strong></h4>
                </div>
                <div >


                    {% if profile.username == user.username %}
                    <li class="list-inline-item">

                    </li>
                    {% else %}
                   
                    {% endif %}
                    </ul>
                    {% if profile.username == user.username %}


                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">  <li class="list-inline-item">

                <a data-toggle="modal" data-target="#settings"><i class="fa fa-cog fa-2x"></i></a>
            </li></div>
    </div>
    <div class="text-right">

        <h3><em>{{profile.bio}}</em></h3>
        <p style="font-size: 22px; font-weight:bold;margin:auto; padding:2px;">Username: </p>
        <p class="text-info">{{profile.username}}</p>
    <p class="card-text text-light" style="font-size:16px;font-weight:bold;">{{profile.phone_number}}</p>
    <p class="card-text" style="font-size:14px;color:rgba(238, 239, 245, 0.63);font-weight:bold;">
        Contact email: </p>
    <p class="text-info">{{profile.email}}</p>

    </div>
    
    <h2 style="text-align: center;border-bottom: rgb(216, 66, 29) 4px;font: outline;"><em>all posts</em></h2>
       <hr> 
    <div class="row user-images">
        {% for project in projects %}
        <div class="col-md-4">
            <div class="card animated zoomInRight">
                <div class="card-img-top ">
                    <img src="{{project.image_posted.url}}" alt="" class="rgba-red-slight i" width="100%" height="350">
                </div>
                <div class="card-body">
                    <h4 class="text-dark">{{project.title}}</h4>
                </div>

            </div>
        </div>

        {% empty %}
        <div class="col-md-12">
            <h2><strong><em>no websites posted at the moment</em></strong></h2>
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-dark">
                <ul class="list-group">
                    <li class="list-group-item text-center" data-toggle="modal" data-target=".bd-example-modal-md"><strong><em>edit your profile</em></strong></li>
                    <li class="list-group-item text-center"><a href="{% url 'logout' %}"><em>log out</em></a></li>
                    <li class="list-group-item text-center"><a data-dismiss="modal"><em>cancel</em></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md text-dark">
        <div class="modal-content"><br>
            <p class="text-center text-info"><em>edit your profile here</em></p>
            <form action="" method="post" novalidate enctype="multipart/form-data" class="mr-4 mt-4 ml-4 mb-4">
                {% csrf_token%}
                {{ form|crispy }}
                <button type="submit" class="btn btn-outline-info btn-lg">profile update</button>
            </form>
        </div>
    </div>
</div>
</div>
<script src="{% static 'js/layout.js' %}"></script>
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/js/mdb.min.js"></script>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'js/layout.js' %}"></script> 
<script>
        (function($) { "use strict";
                
        //Page cursors

        document.getElementsByTagName("body")[0].addEventListener("mousemove", function(n) {
        t.style.left = n.clientX + "px", 
                t.style.top = n.clientY + "px", 
                e.style.left = n.clientX + "px", 
                e.style.top = n.clientY + "px", 
                i.style.left = n.clientX + "px", 
                i.style.top = n.clientY + "px"
        });
        var t = document.getElementById("cursor"),
        e = document.getElementById("cursor2"),
        i = document.getElementById("cursor3");
        function n(t) {
        e.classList.add("hover"), i.classList.add("hover")
        }
        function s(t) {
        e.classList.remove("hover"), i.classList.remove("hover")
        }
        s();
        for (var r = document.querySelectorAll(".hover-target"), a = r.length - 1; a >= 0; a--) {
        o(r[a])
        }
        function o(t) {
        t.addEventListener("mouseover", n), t.addEventListener("mouseout", s)
        }

        //Navigation

        var app = function () {
                var body = undefined;
                var menu = undefined;
                var menuItems = undefined;
                var init = function init() {
                        body = document.querySelector('body');
                        menu = document.querySelector('.menu-icon');
                        menuItems = document.querySelectorAll('.nav__list-item');
                        applyListeners();
                };
                var applyListeners = function applyListeners() {
                        menu.addEventListener('click', function () {
                                return toggleClass(body, 'nav-active');
                        });
                };
                var toggleClass = function toggleClass(element, stringClass) {
                        if (element.classList.contains(stringClass)) element.classList.remove(stringClass);else element.classList.add(stringClass);
                };
                init();
        }();


        //Switch light/dark

        $("#switch").on('click', function () {
                if ($("body").hasClass("dark")) {
                        $("body").removeClass("dark");
                        $("#switch").removeClass("switched");
                }
                else {
                        $("body").addClass("dark");
                        $("#switch").addClass("switched");
                }
        });          
            
        })(jQuery); 
</script>
{% endblock %}
</body>
</html>